
/* text color */
BODY, H1, H2, DT,
INPUT.rateButtonSelected /* <= why IE doesn't inherit this ? */ {
	color:#696969;	/* dimgray */
}
body { font-size: 14pt; }
dt { display:none!important; }
.imageInfoTable dt { display:table-cell!important; }
.totalImages { display:none!important; }
.icon, .thumbLegend img { display:none; }
#copyright, .nb-hits { display:none; }
#imageInfos, #theImage { margin-top: 5em; }
#qsearchInput { width: 10em!important; margin-left:1em; }
form p { text-align: left; }

/* backgrounds */
BODY {
	background-color: #ffffff;	/* white */
}

H2, #menubar DT, #imageHeaderBar, #imageToolBar A:hover {
	background-color: #ffffff;
}

#menubar DL, .content, #imageToolBar, .switchBox, .header_notes {
  background-color: #ffffff;
}

/* borders */
#menubar DL, .content, #imageToolBar, .switchBox {
  border: 0px solid #d3d3d3;
}

#theImage IMG {
  border: 0px solid #d3d3d3;
}

/*I think this rule is never used*/
.content UL.thumbnail IMG {
    border: 1px solid #a0a0a0;
}

FIELDSET, INPUT, SELECT, TEXTAREA,
.content .thumbnailCategory,
.content .commentElement {
  border: 1px solid gray;
}

.thumbnails .wrap2 {
  border: 0px solid #aaaaaa;	/* thumbnails border color and style */
}

.thumbnails .wrap2:hover,
.content .thumbnailCategories .thumbnailCategory:hover,
.content .thumbnailCategories .thumbnailCategory:hover A,
.content .commentsList .commentElement:hover,
.content .commentsList .commentElement:hover A {
  background-color: #faebd7;
  border-color: yellow;		/* thumbnails border color when mouse cursor is over it */
  color: black;
}

/* links */
A, INPUT.rateButton {
	color: #005e89;
	background: transparent;
	border-bottom: 1px dotted #005e89;
}

A:hover, INPUT.rateButton:hover {
    color: #808060;
}

A.pwg-state-default {
	border: 0;
}

A.navThumb, A.navThumb:hover {
    border-bottom: none;
}

/*calendar elements*/
.calItem
{
  border: 1px solid silver;
}

#qsearchInput { color: #005e89; }

.pwg-icon {
	background-image: url(../default/s26/outline_005e89.png);
}

A:hover .pwg-icon {
	background-image: url(../default/s26/outline_808060.png);
}

